-- No crear el usuario postgres (ya existe)
CREATE DATABASE ${PG_DATABASE} OWNER postgres;
CREATE DATABASE ${PG_DATABASE_DIMENSIONAL} OWNER postgres;
CREATE DATABASE ${PG_DATABASE_KAFKA} OWNER postgres;

-- Opcional: Otorgar privilegios extra
ALTER USER postgres WITH PASSWORD '${PG_PASSWORD}';