CREATE USER ${PG_USER} WITH PASSWORD '${PG_PASSWORD}';
CREATE DATABASE ${PG_DATABASE} OWNER ${PG_USER};
CREATE DATABASE ${PG_DATABASE_DIMENSIONAL} OWNER ${PG_USER};
CREATE DATABASE ${PG_DATABASE_KAFKA} OWNER ${PG_USER};